/* src/pages/LandingPage.css */
.landing-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #101a23;
  color: white;
}

.layout-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 1.5rem 160px;
}
